<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Tourboks API client Unit Tests Suite">
            <directory suffix='Test.php'>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
